@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';


p{
    font-family: $font-family-serif;
}

html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 0px;
}

footer.footer{
   padding: 10px; 
   position: absolute;
   bottom: 0;
   width: 100%;
}

.hero-scene{
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../Images/principale.jpg);
        background-size: cover;
        filter: brightness(0.7);
    }

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-content{
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}
.map-scene{
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../Images/map.jpg);
        background-size: cover;
        filter: brightness(0.9);

    }

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .map-scene-content{
        height: 810px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
    }
}

.bg-primary{

    --bs-bg-opacity: 0.5;
    margin-left: 10px;
    margin-right: 10px;
}

.form-label{
    text-align: left;
}
